#page-header
  width: 100%
  margin: 0 auto

  #nav 
    #nav_group
      max-width: 1400px
      width: 100%
      display: flex
      padding: 0 15px
      margin: 0 auto
      #blog_name
        width: 90px
        flex: none
        position: relative
        
        #site-name
          width: 100%
          opacity: 1
          position absolute
          z-index 98
          text-shadow: none
          transition: .3s

        #site-name-home
          position: absolute
          z-index 99
          opacity: 0 
          width: 100%
          border-radius: 5px
          text-align: center
          background-color: var(--text-bg-hover)
          transition: .3s

        &:hover
          #site-name
            opacity: 0
          #site-name-home
            opacity: 1

      #menus
          flex: 1
          text-align: center

        .site-page:not(.child):after
          display: none
          
        .menus_items
          .menus_item
            padding: 0 8px 3px
            border-radius: 5px
            cursor: pointer
            &:hover 
              background-color: var(--text-bg-hover)
              .menus_item_child
                display: flex
                justify-content: space-between
                padding: 5px
                &>li
                  border-radius: 5px
                  &>a
                    padding: 4px 16px 6px


        #search-button 
          padding: 0 8px 3px
          border-radius: 5px
          cursor: pointer
          &:hover 
            background-color: var(--text-bg-hover)


    .site-page
      padding: 0 8px 6px  
      font-size: 16px
      font-weight: 700

.layout
  max-width: 1400px