nav#nav
  div#nav_group
    span#blog_name
      span#site-name=config.title
      a#site-name-home(href=url_for('/'))
        i.fas.fa-home.fa-fw
        
    
    #menus
      !=partial('includes/header/menu_item', {}, {cache: true})
     
      #toggle-menu
        a.site-page
          i.fas.fa-bars.fa-fw


    if (theme.algolia_search.enable || theme.local_search.enable)
    #search-button
      a.site-page.social-icon.search
        i.fas.fa-search.fa-fw
        //- span=' '+_p('search.title')


